* {
  box-sizing: border-box;
}

section.note-list {
  background-color: rgb(244, 244, 244);
  /* width: 100vw; */
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  margin-inline: 5rem;
  /* height: 60vh; */
}
.note-preview {
  height: 100%;
  margin-inline: 0.5rem;
  margin-block: 0.5rem;
  position: relative;
}
.note-preview > * {
  margin-block-start: 1rem;
}
.note-preview > p {
  margin-block-start: 1rem;
  word-wrap: break-word;
  width: 80%;
}
.note-preview ul {
  list-style: none;
  padding: 0;
}
.note-list > ul {
  list-style: none;
  padding: 0;
}

.note-item {
  margin-inline: 0.5rem;
  margin-block: 0.5rem;
  width: 18%;
  border-radius: 1rem;
  box-shadow: 5px 2px 14px -4px rgba(0, 0, 0, 0.6);
}
.note-item img {
  width: 100%;
  margin-block-start: 1.2rem;
  max-height: 200px;
}

.actions {
}
.actions .delete-btn {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  display: block;
}
.actions .delete-btn:hover {
  cursor: pointer;
  font-size: 1em;
  transition: 0.2s;
}
.todo-list-item {
  display: inline;
}
.todo-list-item.line {
  text-decoration: line-through;
}
.done-btn {
  position: absolute;
  right: 0;
  background-color: transparent;
  border: none;
  /* background-color: rgb(255, 152, 235); */
}
.done-btn:hover {
  cursor: pointer;
  font-size: 1em;
  transition: 0.2s;
}
.search-container form {
  width: 30%;
  display: inline;
}
form input {
  width: 60%;
  height: 2.5rem;
  border: none;
  border-radius: 8px;
  box-shadow: 5px 2px 14px -4px rgba(0, 0, 0, 0.6);
}
form input:focus {
  outline: none;
}
.search-container {
  margin-inline: 6rem;
  margin-block: 2rem;
}
.add-note-btn {
  cursor: pointer;
  margin-inline-end: 1rem;
  height: 2.5rem;
  width: 5rem;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 5px 2px 14px -4px rgba(0, 0, 0, 0.6);
}

.add-note-btn.save {
  cursor: pointer;
  margin-inline-start: 3rem;
}
html {
  background-color: rgb(244, 244, 244);
}
