.mail-header {
    border-bottom: 1px solid rgb(169, 168, 168);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mail-header input {
    background-color: lightgray;
    border: 0;
    border-radius: .5em;
    padding: .5em;
}

.mail-header input:focus {
    border: 0;
}