.mail-app{
    display: flex;
    flex-direction: column;
}

.mail-app header{
    background-color: aquamarine;
    height: 10vh;
}

.mail-app body{
    display: flex;
    height: 90vh;
}

.mail-app .mail-nav{
    background-color: bisque;
    width: 10em;
}

.mail-app .mail-list{
    background-color: lightgreen;
    width: 100vw;
}