.mail-app{
    display: flex;
    flex-direction: column;
}

.mail-app header{
    background-color: rgb(244, 244, 244);
    height: 10vh;
}

.mail-app body{
    display: flex;
    height: 90vh;
}

.mail-app .mail-nav{
    background-color: rgb(244, 244, 244);
    width: 15em;
}

.mail-app .mail-list{
    background-color: rgb(244, 244, 244);
    width: 100%;
}

/* .mail-app a:link{
    
    color: rgb(152, 56, 56);
} */

.mail-app a:-webkit-any-link {
    text-decoration: none;
    color: rgb(100, 100, 100);
}